/* **************************************Custom Properties************************************** */

:root {

  /*Colores*/
  --color-firstYellow: #f9d342;
  --color-secondPurple: #3b0771;
  --color-thirdDarkgray: #292826;
  --color-Black50: rgba(0, 0, 0, 0.6);
  --color-white: #fff;
  --color-technologies1: #501a8a;
  --color-technologies2: #381261;
  --color-technologies4: #6521ad;
  --color-technologies3: #210b38;
  --color-technologies5: #802adb;
  --color-technologies6: #381261;
  /*Text*/
  --text-white: #fff;
  --text-gray: #999999;
  --text-black: #000;
  --title-color: #f9d342;
  --font-hero: "Press Start 2P", "Roboto", "sans-serif";
  --font-text: "Roboto", "sans-serif";
  --font-text-special: "VT323", "Roboto", "sans-serif";
  /*Extras*/
  --max-width: 1200px;
  --nav-size: 6rem;
}

/* **************************************      Reset     ************************************** */

html {
  box-sizing: border-box;
  font-family: var(--font-text);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--text-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3.25rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--text-white);
  text-decoration: none;
}


/* **************************************   Components   ************************************** */

/*  ---- Header ----  */

.nav_bar {
  background-color: var(--color-firstYellow);
  color: var(--text-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: var(--nav-size);
  z-index: 999;
}

.panel {
  background-color: var(--color-firstYellow);
  color: var(--text-black);
  height: 40vh;
  position: fixed;
  bottom: 6rem;
  width: 100%;
  z-index: 990;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: inherit;
  width: 100%;
  height: 100%;
}

.menu a {
  color: var(--text-black);
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 25%;
}

.menu a img {
  margin-bottom: -3%;
  margin-right: 0.25rem;
}

.menu hr {
  color: var(--text-black);
  background-color: #000;
  width: 80%;
  border: 1px solid black;
  margin-top: 5%;
  margin-bottom: 0;
  align-self: flex-end;
}

.menu-is-active {
  transform: translateY(0);
}

/* ---- Buttons ---- */

.button {
  background-color: var(--color-secondPurple);
  color: var(--text-white);
  padding: 1rem;
  border-radius: 5px;
  font-weight: bold;
  font-family: var(--font-text);
  border: 0;
  width: 70%;
  font-size: 150%;
}


/* **************************************   Utilities    ************************************** */

.border-white {
  border: 2px solid #fff;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.btn {
  background-color: var(--color-secondPurple);
  border-radius: 5px;
  font-size: 300%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-auto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: var(--max-width);
}

.none {
  display: none;
}

.outline {
  outline: 1px solid red;
}

/* **************************************   Site Styles  ************************************** */


/* -------- HOME -------- */

.home {
  background-image: url(assets/home/background-space.png);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  padding: 1rem;
}

/*  ---- Hero ----  */

.hero {
  background-image: url(./assets/hero/heroBackground.gif);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
}

.hero_content {
  position: relative;
  height: inherit;
  display: flex;
  align-items: flex-end;
}

.hero .pane {
  position: absolute;
  background-color: var(--color-Black50);
  width: 95%;
  height: 180px;
  bottom: 5%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pane_text h3 {
  text-align: center;
  font-family: var(--font-hero);
  color: var(--color-firstYellow);
  font-size: 1.10rem;
  text-shadow: 4px 0px 0px black,
    0px 4px 0px black,
    -4px 0px 0px black,
    0px -4px 0px black;
}

.pane_text h1 {
  font-family: var(--font-hero);
  text-align: center;
  color: var(--color-firstYellow);
  font-size: 1.45rem;
  line-height: 200%;
  width: 100%;
  text-shadow: 4px 0px 0px black,
    0px 4px 0px black,
    -4px 0px 0px black,
    0px -4px 0px black;
}

.pane_buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.pane_buttons button {
  width: 40%;
  height: 35px;
  font-weight: bold;
  font-size: 120%;
  border-radius: 5px;
}

.pane_buttons button:first-of-type {
  background-color: rgba(0, 0, 0, 0.0);
  border: 2px solid var(--color-firstYellow);
  color: var(--color-firstYellow);
}

.pane_buttons button:first-of-type:active {
  background-color: var(--color-firstYellow);
  border: 2px solid var(--color-firstYellow);
  color: var(--text-black);
}

.pane_buttons button:last-of-type {
  background-color: var(--color-firstYellow);
  border: 2px solid var(--color-firstYellow);
  color: var(--text-black);
}

.pane_buttons button:last-of-type:active {
  background-color: rgba(0, 0, 0, 0.0);
  border: 2px solid var(--color-firstYellow);
  color: var(--color-firstYellow);
}

/*  ---- Projects ----  */

.home_projects {
  height: calc(100vh - var(--nav-size));
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects_folders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10%;
  width: 100%;
  justify-items: center;
  height: 25%;
  margin-bottom: 1rem;
}

.folder {
  max-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.folder img {
  width: 72px;
}

.folder h4 {
  font-size: 1.25rem;
  line-height: 130%;
  text-align: center;
  background-color: var(--color-secondPurple);
  margin-top: 0.25rem;
  width: 130%;
}

.projects_preview {
  background-color: var(--color-thirdDarkgray);
  border-radius: 5px;
  padding: 1rem;
  border: 2px solid white;
  margin-top: 1rem;
}

.projects_preview p {
  font-family: var(--font-text-special);
  line-height: 120%;
  font-size: 110%;
}

.home_projects button {
  margin-top: 1rem;
}

/*  ---- Slider ----  */

.home_slider {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-color: var(--color-thirdDarkgray);
  border: 2px solid white;
  border-radius: 5px;
  overflow: hidden;
  position: relative;


  margin-bottom: 10rem;
}

.slider_container {
  width: 400%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem 1rem 1rem;
  max-width: 92vw;
  height: 100%;
}

.slide_img {
  width: 80px;
}

.slide_title {
  font-size: 1.10rem;
  font-weight: bold;
  -webkit-text-stroke: 1px var(--color-secondPurple);
}

.slide_text {
  font-family: var(--font-text-special);
  margin-top: 0;
}

.slide--active {
  visibility: visible;
}

.slider_pointers {
  width: 20%;
  height: 20%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.slider_pointers ul {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 100%;
}

.slider_pointers li {
  border: 2px solid #651dad;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.pointer--active {
  background-color: #651dad;
}